################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/src/backend/.vs/HoraDoBanho
/src/backend/HoraDoBanho.Api/obj
/src/backend/HoraDoBanho.Domain/bin/Debug/netcoreapp3.1
/src/backend/HoraDoBanho.Domain/obj
/src/backend/HoraDoBanho.Infra.CrossCutting.IoC/obj
/src/backend/HoraDoBanho.Infra.Data/bin/Debug/netcoreapp3.1
/src/backend/HoraDoBanho.Infra.Data/obj
/src/backend/.vs/hb
/src/backend/HoraDoBanho.Api/bin/Debug/netcoreapp3.1
/src/backend/HoraDoBanho.Infra.CrossCutting.IoC/bin/Debug/netcoreapp3.1
/.vs
/src/HoraDoBanho/.vs/HoraDoBanho/DesignTimeBuild
/src/HoraDoBanho/.vs/HoraDoBanho/v16
/src/HoraDoBanho/.vs/HoraDoBanho/v17
/src/HoraDoBanho/.vs/HoraDoBanho
/src/HoraDoBanho/HoraDoBanho/bin/Debug/net6.0
/src/HoraDoBanho/HoraDoBanho/obj
/src/HoraDoBanho/HoraDoBanho.Data/bin/Debug/net6.0
/src/MVC/HoraDoBanho/.vs/HoraDoBanho
/src/MVC/HoraDoBanho/HoraDoBanho/bin/Debug/net6.0
/src/MVC/HoraDoBanho/HoraDoBanho/obj
/src/MVC/HoraDoBanho/HoraDoBanho.Data/bin/Debug/net6.0
/src/MVC/HoraDoBanho/HoraDoBanho.Data/obj
/src/MVC/HoraDoBanho/HoraDoBanho.Domain/bin/Debug/net6.0
/src/MVC/HoraDoBanho/HoraDoBanho.Domain/obj
