
*{
  margin: 0;
  padding: 0;
}

.box {
  height: 500px;
}


.subtitulo {
  font-family:inherit ;
  color:  #325288;
  display: flex;
  margin-left: 26%;
  margin-top: 0%;
  position: absolute;
  padding: 10px;
  
  
}

.sub{
  text-align: center;

  
}

fieldset {
border: 0;
text-align: left;
border-radius: 2px;
}


body {
background-color: #E5E5E5;
font-family: sans-serif;
font-size: 1em;
color:  #325288;
margin-left: 8%;
margin-top: 5%;
justify-content: left;
}

imput, select, button {
  border-radius: 6px;
  } 

  .campo{
    margin-bottom: 1rem;
    border-radius: 2px;
    float: left;
    position: absolute;
    
  }

.campo label{
  margin-bottom: 0.2rem;
  color:#325288;
  display:block;
  border-radius: 2px;
  
}

.petlover{
float: right;
height: 20%;
padding: 5px;
display: block;
margin-top: 50px;
padding-right: 60px;
width: 500px;
float: right;
}



.campo input[type=text], .campo input[type=email], .campo select, .campo textarea {
  background: #325288;
  padding: 7rem;
  box-shadow: 2px 2px 2px;
  position: relative;
  border-radius: 5px;
  width: 100%;
  padding: 12px 60px;
  margin: 8px 0;
  height: 16px;
  display: table;
  white-space: nowrap;
  float: left;
  clear: both;
  overflow: hidden;
  line-height: 22px;
  margin-left: 30px;
  margin-top: 50px;
}

.campo input[type=texto]{
  background: #325288;
  padding: 7rem;
  box-shadow: 2px 2px 2px;
  position: initial;
  border-radius: 5px;
  width: 100%;
  padding: 12px 100px;
  margin: 8px 0;
  margin-top: 30px;
}

fieldset{
  width: 30%;
}

.criarsenha input[type=text] {
  background: #708AB6;
  padding: 0.2rem;
  box-shadow: 2px 2px 2px;
  display: block;
  border-radius: 5px;
  white-space: nowrap;
  
}


.campo select option{
  padding-right: 3rem;
}

.campo imput:focus, .campo select:focus{
background: #c5c5d1;
}

.botao{
  font-family: inherit;
  font-size: 1.5rem;
  background: #325288;
  border: 1.3px #325288;
  margin-bottom: 1.3rem;
  color:#fffff8;
  padding:10px 32px;
  top: 10%;
  left: 10%;
  transform :translate(50%, 50%);
  text-align: center;
  margin-right: 150px;
  float: left;
  margin-top: 10px;
  margin-block-end: 50px;
}

.botao-item{
  font-family: inherit;
  font-size: 1.5rem;
  background: #325288;
  border: 1.3px #325288;
  margin-bottom: 1.3rem;
  color:#fffff8;
  padding:10px 32px;
  top: 10%;
  left: 10%;
  margin-right: -50%;
  margin-left: 20%;
  margin-block-end: 10%;
  transform :translate(50%, 50%);
  display: inline;
  text-align: center;
  
}

.botao:hover {
  background: #0e0388;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  display: inline-block;
  left: 500px;
}

.botao{
  left: 50%;
}


.termo {
  font-family: inherit;
  margin-top: 55%;

  
}