*{
	box-sizing: border-box;
}

header {
	background: #FAEEE7;
}

h1 img {
	width: 20vw;
	margin-top: 1.25rem;
}

.caixa {
	width: 100%;
}

nav {
	position: absolute;
	top: 3.75rem;
	right: 6.25rem;
}

nav li {
	display: inline-table;
	margin: 0 0 0 2.5rem;
}

nav a {
	color: #325288;
	font-weight: bold;
	font-size: 1.37rem;
	text-decoration: none;
}

a img {
	position: absolute;
	width: 6%;
	margin-top: -1.87rem;
	padding: .4375rem;
}

main {
	background: #FAEEE7;
}

#base {
	background-image: url(cachorrinhos.png);
	background-repeat: repeat-x;
	border-bottom: #008b8b 0.2rem solid;
}

button {
	display: block;
	background-color: #325288;
	margin: 1.875rem 24vw;
	font-size: 1.81rem;
	width: 49vw;
	box-sizing: border-box;
	padding: 3vw 3vh;
	border-radius: 3.125rem;
	border: none;
	transition: 1s background;
	cursor: pointer;	
}

button:hover {
	background: darkblue;
}

button a {
	text-decoration: none;
}

.texto_botao {
	color: #FFFFFF;
}

.secao1 {
	background-color: #325288;
	font-size: 1.5625rem;
	width: 98.78vw;
	height: 49.3vh;
	max-height: 23rem;
}

.img_secao1 {
	float: left;
	width: 32.1vw;
}

.titulo_secao1 {
	font-weight: bold;
	line-height: 2;
	color: #FFFFFF;
	text-align: center;
	padding-top: 1rem;
}

.texto_secao1 {
	color: #FFFFFF;
	margin-left: 30vw;
	text-align: center;
	padding: 3vw 3vw 3vw 3vw;
}

.secao2 {
	background-color: #325288;
	width: 70vw;
	height: 35rem;
	margin: 5rem 0 5rem 11rem;
	padding: 3rem 3rem 3rem 3rem;
	border-radius: 2rem;
}

.titulo_secao2 {
	color: #FFFFFF;
	font-size: 2rem;
}

.texto1_secao2, .texto2_secao2 {
	color: #FFFFFF;
	font-size: 1.1rem;
	text-align: justify;
	padding: 5rem 5rem 5rem 5rem;
	background-repeat: no-repeat;
	background-position: top 1.25rem left 2.5rem;
}

.texto1_secao2 {
	background-image: url(../assets/img/Foto\ Autor\ 1.svg);
	width: 30vw;
	float: left;
	box-sizing: border-box;
	border: black 1px solid;
}

.texto2_secao2 {
	background-image: url(../assets/img/fotoAutor2.svg);
	width: 30vw;
	margin-left: 30vw;
	box-sizing: border-box;
	border: pink 1px solid;

}

footer {
	background-color: #D96098;
	width: 100%;
	color: #FFFFFF;
	font-size: .9375rem;
	clear: left;
}

footer div {
	display: inline;
}

footer ul {
	padding: 1.875rem .625rem;
}

footer a {
	color: #FFFFFF;
	font-size: 1.25rem;
	text-decoration: none;
}

.lista-rodape {
	line-height: 1.5;
}


@media screen and (min-width: 0) {
	header {
		justify-content: center;
		padding: 0 1rem;
	}
}

@media screen and (max-width: 475px) {
	header div h1 img {
		width: 5%;
	}
}


