.img-reset{ background-image:url("../assets/img/gatoReset.svg");
position : absolute;
background-size: cover;
background-repeat: no-repeat;

}
.rectangle-img{
  background-color: #C4C4C4;
	width: 50%;
	height: 80%;
	opacity: 0.75;
  border-radius: 40px;
  margin-left: 50%;
  margin-right: 50%;
  position: absolute;
	top: 200%

  
}
.img-logo{ 
  width: 40%;
	height: 40%;
  margin-left: 50%;
  margin-right: 50%;
  position: absolute;
	top: 210%
}






