header {
	background: #FAEEE7;
}

.caixa {
	width: 940px;
}

nav { /* oi */
	position: absolute;
	top: 60px;
	right: 100px;
}

nav li {
	display: inline-table;
	margin: 0 0 0 40px;
}

nav a {
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

main {
	background: #FAEEE7;
}

#base {
	background-image: url(cachorrinhos.png);
	background-repeat: repeat-x;
}

button {
	padding: 10px 10px;
	background-color: #325288;
	margin: 30px 350px;
	font-size: 29px;
	height: 100px;
	width: 650px;
	border-radius: 50px;
	border: none;
	transition: 1s background;
	cursor: pointer;	
}

button:hover {
	background: darkblue;
}

button a {
	text-decoration: none;
}

.texto_botao {
	color: #FFFFFF;
}

section {
	background-color: #325288;
	padding: 50px 0 50px 0;
}

section img {
	float: left;
	width: 30%;
	margin-left: 100px;
}

section h2 {
	font-weight: bold;
	line-height: 2;
}

section h2, section p {
	color:  #FFFFFF;
	text-align: center;
	font-size: 25px;
	padding: 0 100px;
	margin-left: 300px;
	margin-top: 25px;
}

footer {
	background-color: #D96098;
	width: 100%;
	color: #FFFFFF;
	font-size: 15px;
	clear: left;
}

#div-lista {
	float: left;
}

footer div {
	display: inline;
}

footer ul {
	padding: 30px 10px;
}

footer a {
	color: #FFFFFF;
	font-size: 20px;
	text-decoration: none;
}

.lista-rodape {
	line-height: 1.5;
}

form {
	margin: 0 0 20px 800px;
	padding: 30px 10px;
}

form h3 {
	margin: 0 0 20px;
	font-size: 20px;
}

form input {
	display: block;
	margin: 0 0 20px;
	padding: 5px 50px;
	width: 50%;
}

form input:nth-child(4) {
	padding: 50px 50px;
}