/*font importing*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* reseting css */

* 
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}

body
{
    background-image: url("DOGCADASTRO.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center ;
    
}

:root{
    --roxo: #7a009c;
    --orange: #d54300;
    --beige: #FAEEE7;
    --blue: #325288;
    --bluezim: #67F1FA;
    --pink: #edb89f;
    --grey: #637373;
    --darkpink: #8c00b2;
}

.petlover
{
    max-width: 1000px;
    min-width: 300px;
    max-height: 600px;
    min-height: 450px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 10px;   
    background-color: var(--beige);
    margin-top: 120px;
    border-radius: 8px;
    align-self: center;
    transform: translate(0);
    background: rgba(255, 176, 137, 0.2);
    box-shadow: 1px 1px 25px rgb(166, 108, 75);
    backdrop-filter: blur(4px);
}

.subtitulo
{
    font-size: 23px;
    color: var(--blue);
    text-align: center;
    margin: 20px;
}

input
{
    color: #fff;
}

input::placeholder
{
    color: #fff;
}

.campo
{
    margin-left: 20px;
    margin-right: 45%;
}

.campos
{
    background-color: var(--blue);
    border-radius: 5px;
    border: none;
    width: 240px;
    height: 35px;
    border: none;
    border-radius: 4px;
    text-indent: 20px;
    margin-top: 10px;
    margin-right: 10px;
}

.camposs
{
    background-color: var(--blue);
    min-width: 240px;
    border-radius: 5px;
    border: none;
    width: 494px;
    height: 35px;
    order: none;
    border-radius: 4px;
    text-indent: 20px;
    margin-top: 10px;
    margin-right: 10px;
}


.click
{
    margin-top: 15px;
    width: 15px;
}

.texto
{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blue);
}

.botao
{
    
    border: 1px solid var(--blue);
    background: var(--blue);
    padding: 8px 40px;
    cursor: pointer;
    margin-left: 30px;
    font-weight: bold;
    border-radius: 6px;
    color: #fff;
}

.botao2
{
    
    margin-top: 5px;
    border: 1px solid var(--blue);
    background: var(--blue);
    padding: 8px 40px;
    cursor: pointer;
    margin-left: 30px;
    font-weight: bold;
    border-radius: 6px;
    color: #fff;
}

button:hover
{
    transition: background, color 0.5s;
    background: var(--beige);
    color: var(--blue);
}

.button
{
    margin-top: 30px;
    margin-left: 57px;
}

.fotinhaa
{
    height: 50px;
    width: 50px;
}

.petlover img
{
    display: flex;
    flex-direction: column;
    width: 10%;
    position: absolute;
    right: 20%;
    bottom: 2%;
}

.petlover .frase
{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 30%;
    left: 15%;
    
}

.termo
{
    cursor: pointer;
}
